.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: rgb(236, 100, 100);
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: black;
  }
  
  
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .modal-window > div {
    border-radius: 1rem;
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  .logo {
    max-width: 150px;
    display: block;
  }
  
  small {
    color: lightgray;
  }
  
  .btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    text-decoration: none;
  }
  .btn i {
    padding-right: 0.3em;
  }



  body{
    background-color: black;
}
#modules{
    margin:23px;
    display:grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr))
    
}
#modules .box{
    border:2px solid rgb(32, 255, 12);
    padding: 34px;
    margin: 14px;
    border-radius: 28px;
    /* background-color:#b3b1b180; */
    transition: 0.5s;
    overflow: hidden;
    background-color: transparent;
}
.module-container h1{
    color:white;
}
#modules .box img{
    height:100px;
    display: block;
    margin: auto;
    
}
#modules h2{
    color:rgb(85, 255, 18);
    text-align: center;
}
#modules .box p{
    font-family: 'Bree Serif', serif; 
    color:rgb(9, 255, 0);

}

.box {
    background-color: #49e819;
    box-shadow: 0 0 20px 0 #49e819;
    border: 2px solid #49e819;
    padding: 20px 80px;
    background-color: #000;
    transition: .4s;
    /* cursor: pointer; */
    color: #49e819;
    z-index: 0;
  }
  
 .box::before {
    content: '';
    position: absolute;
    border: 2px solid #49e819;
    transition: .4s;
    box-shadow: 0 0 20px 0 #49e819;
    z-index: -1;
    left: -5px;
    transform: skewX(30deg);
    background-color: #000;
  }

 .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }