<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/existing project.css">
    <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
    <title>Exisiting Project</title>
</head>
<body>



    <section class="module-container">

        <h1 class="h-primary center" class="top-header">PROJECTS </h1>
  
        <div id="modules">
          <div class="box">
            <img src="../static/crawler.png" alt="">
  
  
            <h2 class="h-secondary center"> <a  href="/submit?module=crawler" >Crawler</a></h2>
            
              

          </div>
  
          <div class="box" class="invertlogo" >
            <img src="../static/dns.png" alt="">
  
  
            <h2 class="h-secondary center" > <a  href="/submit?module=dns" >DNS</a></h2>
            
          </div>
  
          <div class="box" class="invertlogo">
            <img src="../static/header.png" alt="">
  
  
            <h2 class="h-secondary center"> <a  href="/submit?module=header" >Header</a></h2>
            
          </div>
          <div class="box" class="invertlogo">
            <img src="../static/ssl.png" alt="">
  
  
            <h2 class="h-secondary center" class="invertlogo"> <a  href="/submit?module=ssl" >SSL</a></h2>
            
          </div>
          <div class="box">
            <img src="../static/whois.png" alt="">
  
  
            <h2 class="h-secondary center"> <a  href="/submit?module=whois" >WHOIS</a></h2>
            
          </div>
          <div class="box">
            <img src="../static/wayback.png" alt="">
  
  
            <h2 class="h-secondary center"> <a  href="/submit?module=wayback" >Wayback</a></h2>
            
          </div>
          <div class="hiddenbox">
            
            
          </div>
          <div class="box">
            <img src="../static/subdomain.png" alt="">
  
  
            <h2 class="h-secondary center"> <a  href="/submit?module=subdomain" >Subdomain</a></h2>
            
          </div> <div class="hiddenbox">
            
          </div>
          
        </div>
  
  
      </section>










    
    
          
      
    <!--  <div id="open-modal" class="modal-window">
        <div>
          <a href="#" title="Close" class="modal-close">Close</a>
          <h1>Voilà!</h1>
          <div>A CSS-only modal based on the :target pseudo-class. Hope you find it helpful.</div>
          <br>
          <div><small>Check out 👇</small></div>
          <a href="https://chrome.google.com/webstore/detail/chroma/pkgejkfioihnchalojepdkefnpejomgn?utm_campaign=chromapromo&utm_source=codepen.io" target="_blank">
      
<br><br><br><br><br><br><br><br><br>rbr
<br>rbr
<br><br><br><br><br><br>
      
            Your new favorite eyedropper tool!
        </div>
      </div>
      </div>-->
</body>
</html>