<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa+One:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Noto+Serif+Balinese&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <script src="../static/homepage.js"></script>
  </head>
  <body id="ontop">
    <ul class="navbar">
      <li class="current"><a href="#Home">Home</a></li>
      <li><a href="index.html">OSEARCH</a></li>
      <li><a href="#About">About Us</a></li>
      <li><a href="#Contact Us">Contact Us</a></li>
      <li class="login"><a href="login.html">Login/Signup</a></li>
    </ul>

    <div class="logo">
      <img src="../static/logo.png" alt="">
    </div>
    <div class="wholeclass">
    <div class="sections">
    <h1 id="Home"> Blackhat Recon</h2>
    
    <p>Blackhat is an Open-Source Intelligence (OSINT) tool. The main purpose of
      this tool is to help cybersecurity professionals, individuals and
      organizations gain information about domains, user accounts, senstive
      files and much more with the help of publicly available information on the
      internet. It helps in increasing the attack surface for security
      researchers to tackle with the problems they face while performing
      different kinds of penetration testing.Running an OSINT scan for a large enterprise can yield hundreds of thousands of results, especially if both internal and external assets are included. Piecing all that data together and being able to deal with the most serious problems first can be extremely helpful.</p>



    </div>
<div class="sections">
    <h1 id="About" > About Us</h2>
      <p>
        Welcome to our team! We are a group of passionate individuals dedicated to the field of open-source intelligence (OSINT). Our team's mission is to help organizations and individuals gather intelligence using open sources such as social media, blogs, and other publicly available information. We believe that OSINT is a powerful tool that can be used for good and that it is our responsibility to ensure that it is used ethically and responsibly.
      </p>

    </div>

          <div class="sections">
            <h1 id="Contact Us"> Contact Us</h2>
              <div class="socials">
              <a href="https://twitter.com/AdityaKini4u"><img src="../static/twitter.png" class="twitter"></a>
              <a href="https://www.facebook.com/aditya.kini.777"><img src="../static/facebook.png" class="facebook"></a>
              <a href="https://github.com/Kini7686"><img src="../static/github.png" class="github"></a>
              </div>
      
            </div>

    </div>
    <div class="button">
      <a href="#ontop"><i class="fas fa-arrow-up"></i></a>
    </div>
  </div>
  </body>
</html>